a.fog_info {
    text-decoration:none;
    color: #C86432;
}

a.fog_info:hover {
    text-decoration:underline;
}

a.glathida_info {
    text-decoration:none;
    color: #FF0000;
}

a.glathida_info:hover {
    text-decoration:underline;
}

a.glims_info {
    text-decoration:none;
    color: #FF3491;
}

a.glims_info:hover {
    text-decoration:underline;
}

a.glims_regions {
    text-decoration:none;
    color: #00C8FF;
}

a.glims_regions:hover {
    text-decoration:underline;
}

a.gpc_info {
    text-decoration:none;
    color: #FF0000;
    background-color: #FFFF00;
}

a.gpc_info:hover {
    text-decoration:underline;
}

a.rgi_info {
    text-decoration:none;
    color: #00DD44;
}

a.rgi_info:hover {
    text-decoration:underline;
}

a.rgi_info_new {
    text-decoration:none;
    color: #ff0405;
}

a.rgi_info_new:hover {
    text-decoration:underline;
}

a.wgi_info {
    text-decoration:none;
    color: #00C8C8;
}

a.wgi_info:hover {
    text-decoration:underline;
}

/* DOWNLOAD OPTIONS PAGE */

.glims_v_snapshot {
    width:"100%";
}

.glims_data {
    background-color: #DDEEFF;
    width:500px;
    float:left;
}

.rgi_map {
    background-color: #FFEEDD;
    margin-left:20px;
    float:left;
}

#authorized {
    font-weight: bold;
    font-size: 24px;
}

#preauthorized {
    font-weight: bold;
    font-size: 24px;
}

/*============================================*/

section {
  position: relative;
  border: 1px solid #000;
  padding-top: 37px;
  background: #BBDDFF;
}
section.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:800px;
  box-shadow: 0 0 15px #333;
}

.headercontainer {
  position: relative;
  /*
  border: 1px solid #222;
  padding-top: 37px;
  */
  width: 100%;
}
/* this is for the data area that is scrollable */
.tablecontainer {
  overflow-y: auto;
  height: 400px;
  width: 100%;
  /*
  background: #DDEEFF;
  */
}

/* remove default cell borders and ensures table width 100% of its container*/
/*
.tablecontainer table, .tablecontainer thead {
  border-spacing: 0;
  width:100%;
}
*/

/* add a thin border to the left of cells, but not the first */
/*
.tablecontainer td + td {
  border-left:1px solid #eee;
}
*/

/* cell padding and bottom border */
.tablecontainer td, th {
    /*
  border-bottom:1px solid #eee;
  padding: 10px;
  */
}

.tablecontainer th {
    height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 0;
    visibility: hidden;
    border: none;
    white-space: nowrap;
}

/* reposition the divs in the header cells and place in the blank area of the headercontainer */
.tablecontainer th div {
  visibility: visible;
  position: absolute;
  background-color: #BBDDFF;
  color: #FF0000;
  padding: 9px 10px;
  top: 0;
  margin-left: -10px;
  line-height: normal;
  /*
  border-left: 1px solid #222;
  */
}

/* prevent the left border from above appearing in first div header */
th:first-child div {
  border: none;
}

/* alternate colors for rows */
.tablecontainer tbody  tr:nth-child(even){
     background-color: #ddd;
}

/*============================================*/

.container-fluid {
    padding: 0px;
    height: 96%;
    width: 100%;
}

html, body {
    height: 100%;
    width: 100%;
}

#infomap {
    height: 500px;
    border: 1px solid black;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0px;
}

.modal-body {
    overflow-y: auto;
}

.modal-lg {
    width: 90%;
}

#over {
    position: absolute;
    top: 10px;
    z-index: 9;
}

#wrapper {
    position: relative;
}

/*========================================*/
/* Openlayers Stuff */

.ol-dragzoom {
    border: 3px solid red !important;
    background-color: rgba(255,255,255,0.4);
}

/**** tooltip ***/

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline;
    width: 120px;
    font-weight: bold;
    font-size: .8em;
    overflow: visible;
    white-space: nowrap; 
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    overflow: visible;
    background: #9af;
    color: black;
    font-size: 12px;
    bottom: 40px;
    left: 10%;
    border-radius: 2px;
    padding: 5px; 
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.box {
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 5px;
  background-clip: padding-box;
  text-align: left;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  font-size: 14px;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
