body {
  max-width: 100%;
  overflow-x: hidden;
}

collab-table {
    width: 70%;
    display: table;
    table-layout: fixed;
}

collab-table-header {
    display: table-header-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
}

collab-table-header-cell {
    display: table-cell;
    border-bottom: 1px solid black;
}

table.collab thead tr th {
  color: #FF0000;
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-variant: small-caps;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

table.collab tbody tr td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

table.collab tbody tr.even {
  background-color: #DDEEFF;
}

table.collab tbody tr.odd {
  background-color: #EEF9FF;
}

.glacier_outline {
  background-color:#00CD00;
}

div.steward {
  width:100%;
  margin:-8px -8px -8px -11px;
  display:table;
}

.steward div.id_cell {
  width:30px;
  border-right:3px solid #6699BB;
  padding:5px 5px 5px 11px;
  display:table-cell;
}

.steward div.name_cell {
  display:table-cell;
  padding-left:8px;
}

tr.rc_header {
  background-color:#A6A6A6 !important;
}

#rc_info {
  color:#FF0000;
}
