<style type="text/css">
.search-form-style{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.search-form-style-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.search-form-style div.form-row{
  margin-bottom:15px;
}
.search-form-style div.form-cell{
  width:470px;
  display:inline-block;
}
.search-form-style label{
    /* display: block; */
    margin: 0px 0px 15px 0px;
}
.search-form-style label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.search-form-style div#error-msg{
    color:red;
    display:none;
}
.search-form-style span.required{
    color:red;
}
.search-form-style .number-field{
    width: 100px;
}
.search-form-style input.input-field{
    width: 150px;
}
.search-form-style .select-field{
    min-width: 150px;
}

.pagination-style {
  width: 100%;
  height: 40px;
  display: none;
  position: relative;
}

.search-newsearch-style {
  float: left
}

.prev-form-style {
  left: 80%;
  position: absolute;
}
.next-form-style {
  left: 90%;
  position: absolute;
}

.pagination-display {
    font: 16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    left: 20%;
    top: 10px;
    height: 30px;
    text-align: justify;
    position: absolute;
}

.search-form-style input.input-field,
.search-form-style .number-field,
.search-form-style .textarea-field,
.search-form-style .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.search-form-style .input-field:focus,
.search-form-style .number-field:focus,
.search-form-style .textarea-field:focus,
.search-form-style .select-field:focus{
    border: 1px solid #0C0;
}
.search-form-style .textarea-field{
    height:100px;
    width: 55%;
}
.search-form-style input[type=submit],
.search-form-style input[type=reset],
.search-form-style input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
}
.search-form-style input[type=submit]:hover,
.search-form-style input[type=reset]:hover,
.search-form-style input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}

.download-form-style input[type=button]{
    border: none;
    padding: 8px 10px 8px 15px;
    background: #213a44;
    margin-top: 10px;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    position: relative;
    left: 88%;
    cursor: pointer;
}

.download-form-style input[type=button]:hover{
    background: #5b815b;
    color: #fff;
}

.space-left{
  display:inline;
  padding-left: 25px;
}

td image{
  width:28px;
  height:28px;
}

#search_progress,#search_progress_spinner {
    display: inline-block;
    left: 40%;
    margin-top: 20px;
    position: relative;
}

.result-data {
    max-width: 400px;
    padding: 10px 10px 10px 10px;
    font: 18px Arial, Helvetica, sans-serif;
    float: left;
}


</style>
